.ui-container {}

.container {
  position: relative;
  padding-left: .16rem;
  height: 100%;
}


/*头部*/


/*tab*/

.tap {
  width: 100%;
  height: 1rem;
  background: #ccc;
}

.shop-tab-cnt {
  line-height: 1.066667rem;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #eee
}

.shop-tab-item {
  position: relative;
  flex: 1;
  text-align: center;
  font-size: .373333rem;
  color: #666;
  border-bottom: 1px solid #ddd;
}

.shop-tab-active {
  color: #3190e8;
  font-weight: 700
}


/*菜单内容*/

.menu-main {
  display: flex;
  height: 100%;
}

.menu-category {
  padding: 0;
  margin: 0;
  list-style: none;
  flex: none;
  overflow-y: auto;
  background-color: #f8f8f8;
  width: 2.053333rem;
}

.menu-category-item {
  position: relative;
  padding: .466667rem .2rem;
  border-bottom: 1px solid #e8e8e8;
  font-size: .346667rem;
  color: #666;
  transform: translateZ(0);
}

.menu-category-txt {}

.menu-category-icon {
  max-width: 100%;
  width: .24rem;
  height: .333333rem;
}

.menu-category-active {
  color: #333;
  background-color: #fff;
}

.menu-category-item *, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.menu-list {
  height: 100%;
  width: 7.946667rem;
}

.container .scroller {
  height: 100%;
  padding-left: .106667rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu-list dl[role=menu] {
  margin: 0;
}

.menu-list dt[role=heading] {
  position: relative;
  padding: .2rem .8rem .2rem 0;
  border-bottom: 1px solid #eee;
}

.menu-list .category-title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

.menu-list .category-name {
  margin-right: .133333rem;
  font-weight: 700;
  font-size: .32rem;
  color: #666;
  -webkit-box-flex: 0;
  flex: none;
}

.menu-list .category-desc {
  flex: 1;
  color: #999;
  font-size: .266667rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list dd[role=menuitem] {
  position: relative;
  margin: 0;
  min-height: 3.066667rem;
  border-bottom: 1px solid #eee;
}

.menu-list .fooddetails-root {
  background-color: #fff;
  padding: .266667rem .266667rem .266667rem 0;
  margin-bottom: 1px;
  display: flex;
  min-height: 2.746667rem;
  position: relative;
}

.menu-list .fooddetails-logo {
  width: 2.026667rem;
  height: 2.026667rem;
  vertical-align: top;
  -webkit-box-flex: 0;
  flex: none;
  margin-right: .266667rem;
  position: relative;
}

.menu-list .fooddetails-logo img {
  width: 100%;
  border-radius: .053333rem;
}

.menu-list .fooddetails-info {
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
    padding-bottom: .666667rem;
}

.menu-list .fooddetails-name {
    font-size: .4rem;
    font-weight: 700;
    line-height: 1.2;
    overflow: hidden;
    display: flex;
    -webkit-box-align: start;
    align-items: start;
    padding-right: .533333rem;
    word-break: break-word;
}

.menu-list .fooddetails-desc {
    margin: .133333rem 0!important;
    font-size: .253333rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 4.8rem;
}

.menu-list .fooddetails-sales {
    margin: .173333rem 0!important;
    color: #666;
    font-size: .293333rem;
    line-height: 1;
}

.menu-list .fooddetails-sales span {
    vertical-align: middle;
}

.menu-list .salesInfo-price {
    font-weight: 700;
    font-size: .426667rem;
    line-height: .426667rem;
    color: #f60;
    padding-bottom: .093333rem;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
}
.menu-list .fooddetails-salesInfo {
    position: absolute;
    bottom: 0;
}

.menu-list .salesInfo-price span:first-child {
    margin-right: .106667rem;
}

.menu-list .fooddetails-button {
    position: absolute;
    right: 0;
    bottom: -.066667rem;
}

.menu-list .fooddetails-activity {
    font-size: .266667rem;
    color: #f07373;
    white-space: nowrap;
}
.menu-list .fooddetails-activity span {
    vertical-align: top;
    line-height: .346667rem;
    height: .346667rem;
    padding: 0 .08rem;
    border: 1px solid #ff3c15;
    font-size: .266667rem;
    display: inline-block;
}

.menu-list .fooddetails-activity .fooddetails-rate {
    background-image: -webkit-gradient(linear,left top,right top,from(#ff7416),color-stop(98%,#ff3c15));
    background-image: -webkit-linear-gradient(left,#ff7416,#ff3c15 98%);
    background-image: linear-gradient(90deg,#ff7416,#ff3c15 98%);
    border-radius-top-left: .013333rem;
    border-radius-top-right: .013333rem;
    font-size: .266667rem;
    color: #fff;
    letter-spacing: 0;
}

.menu-list .salesInfo-originPrice {
    font-size: .32rem;
    color: #666;
    font-weight: 400;
    vertical-align: top;
}

.menu-list .cartbutton-entitybutton {
    display: inline-block;
    font-size: .346667rem;
    white-space: nowrap;
}

.menu-list .cartbutton-entitybutton a {
    display: inline-block;
    padding: .093333rem;
    vertical-align: middle;
    text-decoration: none;
}

.menu-list .cartbutton-entitybutton svg {
    width: 60px;
    height: 60px;
}
